body {
  background-color: rgb(255, 255, 255);
  font: 400 0.813em/2.38 Helvetica;
  color: rgb(0, 0, 0);
}

.element {
  float: left;
}

.text {
  position: relative;
  float: left;
}

.text-2 p,
.text-4 p,
.text-6 p,
.text-7 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  position: relative;
  float: left;
  line-height: 1.38;
  text-align: center;
}

.element-1 {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 64px;
  background-color: rgb(30, 13, 133);
}

.element-10 {
  position: relative;
  z-index: 40;
  width: 4.6666666666%;
  height: 56px;
  margin: -816px 0 0 88.91667%;
  background: url('../images/facebook-logo-png-18(2).png') rgba(222, 222, 222, 0.03);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-11 {
  position: relative;
  z-index: 30;
  width: 26.4166666666%;
  height: 253px;
  margin: -268px 0 0 23.59896%;
  background-color: rgb(30, 13, 133);
}

.element-12 {
  position: relative;
  z-index: 33;
  width: 26.4166666666%;
  height: 253px;
  margin: -268px 0 0 53.28255%;
  background-color: rgb(30, 13, 133);
}

.element-13 {
  position: relative;
  clear: both;
  z-index: 34;
  width: 99.9166666666%;
  height: 82px;
  margin: 73px 0 0 -0.08073%;
  background-color: rgb(30, 13, 133);
}

.element-2 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 236px;
  background-color: rgb(255, 255, 255);
}

.element-3 {
  position: relative;
  clear: both;
  z-index: 2;
  width: 23.1666666666%;
  height: 249px;
  margin: -236px 0 0 4.25%;
  background: url('../images/WhatsApp%20Image%202018-08-22%20at%2012.30.39.jpeg') rgba(184, 135, 135, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-4 {
  position: relative;
  clear: both;
  z-index: 3;
  width: 100%;
  height: 55px;
  border-top: 1px solid rgba(0, 0, 0, 0.22);
  background-color: rgb(245, 245, 245);
}

.element-5 {
  clear: both;
  width: 100%;
  height: 463px;
  margin-left: -0.08073%;
  background: url('../images/imh.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-6 {
  clear: both;
  width: 99.9166666666%;
  height: 56px;
  background-color: rgb(243, 243, 243);
}

.element-7 {
  position: relative;
  clear: both;
  z-index: 18;
  width: 19.0833333333%;
  height: 647px;
  margin-top: 8px;
  background-color: rgb(30, 13, 133);
}

.element-8 {
  position: relative;
  z-index: 26;
  width: 63.2499999999%;
  height: 1193px;
  margin: -647px 0 0 19.91667%;
  background-color: rgb(244, 244, 244);
}

.element-9 {
  position: relative;
  z-index: 29;
  width: 15.7994791666%;
  height: 150px;
  margin: -839px 0 0 83.66406%;
  background-color: rgb(222, 222, 222);
}

.text-1 {
  clear: both;
  z-index: 4;
  margin: -34px 0 0 8.66667%;
  font-size: 0.769em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.text-10 {
  clear: both;
  z-index: 35;
  margin: -57px 0 0 37.41276%;
  font-size: 1.231em;
  line-height: 1.38;
  color: rgb(238, 238, 238);
}

.text-2 {
  z-index: 8;
  margin: -129px 0 0 5.5%;
  font-size: 1.846em;
  line-height: 0.58;
  text-align: center;
  color: rgb(6, 18, 68);
}

.text-3 {
  clear: both;
  z-index: 27;
  margin: -1126px 0 0 22%;
  border-bottom: 1px solid rgb(43, 22, 163);
  font-size: 1.231em;
  line-height: 1.38;
  color: rgb(30, 13, 133);
}

.text-4 {
  z-index: 28;
  margin: -1081px 0 0 22.79948%;
  font-size: 1em;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.text-5 {
  z-index: 31;
  margin: -244px 0 0 27.39974%;
  font-size: 1.231em;
  line-height: 1.38;
  color: rgb(251, 251, 251);
}

.text-6 {
  z-index: 32;
  margin: -204px 0 0 25.83073%;
  font-size: 1.231em;
  line-height: 1.38;
  color: rgb(202, 202, 202);
}

.text-7 {
  z-index: 36;
  margin: -204px 0 0 59.61589%;
  font-size: 1.077em;
  line-height: 1.38;
  text-align: center;
  color: rgb(252, 252, 252);
}

.text-8 {
  z-index: 37;
  margin: -129px 0 0 60.54948%;
  font-size: 1.231em;
  line-height: 1.38;
  color: rgb(238, 238, 238);
}

.text-9 {
  z-index: 38;
  margin: -93px 0 0 62.04948%;
  font-size: 1.231em;
  line-height: 1.38;
  color: rgb(222, 222, 222);
}

._button-1 {
  z-index: 5;
  width: 7.5%;
  height: 30px;
  margin: -46px 0 0 75.25%;
  border-right: 1px solid rgb(255, 255, 255);
  background-color: rgba(222, 222, 222, 0);
  font-size: 0.846em;
  color: rgb(255, 255, 255);
}

._button-10 {
  z-index: 15;
  width: 7.8333333333%;
  height: 55px;
  margin: -55px 0 0 77.19922%;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(30, 13, 133);
}

._button-10:hover,
._button-5:hover,
._button-6:hover,
._button-7:hover,
._button-8:hover,
._button-9:hover {
  background-color: rgb(30, 13, 133);
  color: rgb(255, 255, 255);
}

._button-11 {
  clear: both;
  z-index: 19;
  width: 13.8333333333%;
  height: 43px;
  margin: -563px 0 0 2.33073%;
  border: 1px solid rgb(243, 243, 243);
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(249, 249, 249);
}

._button-12 {
  z-index: 20;
  width: 13.8333333333%;
  height: 43px;
  margin: -1039px 0 0 2.33073%;
  border: 1px solid rgb(243, 243, 243);
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(249, 249, 249);
}

._button-13 {
  z-index: 21;
  width: 13.8333333333%;
  height: 43px;
  margin: -969px 0 0 2.33073%;
  border: 1px solid rgb(243, 243, 243);
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(249, 249, 249);
}

._button-14 {
  z-index: 22;
  width: 13.8333333333%;
  height: 43px;
  margin: -859px 0 0 2.33073%;
  border: 1px solid rgb(243, 243, 243);
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(249, 249, 249);
}

._button-15 {
  z-index: 23;
  width: 13.8333333333%;
  height: 43px;
  margin: -787px 0 0 2.33073%;
  border: 1px solid rgb(243, 243, 243);
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(249, 249, 249);
}

._button-16 {
  z-index: 24;
  width: 13.8333333333%;
  height: 43px;
  margin: -716px 0 0 2.33073%;
  border: 1px solid rgb(243, 243, 243);
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(249, 249, 249);
}

._button-17 {
  z-index: 25;
  width: 13.8333333333%;
  height: 43px;
  margin: -637px 0 0 2.33073%;
  border: 1px solid rgb(243, 243, 243);
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(249, 249, 249);
}

._button-11:hover,
._button-12:hover,
._button-13:hover,
._button-14:hover,
._button-15:hover,
._button-16:hover,
._button-17:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(30, 13, 133);
}

._button-18 {
  z-index: 39;
  width: 12.6341145833%;
  height: 47px;
  margin: -753px 0 0 85.5625%;
  border-radius: 3px;
  background-color: rgb(30, 13, 133);
  font-size: 0.846em;
  color: rgb(242, 242, 242);
}

._button-2 {
  z-index: 6;
  width: 7.5%;
  height: 30px;
  margin: -46px 0 0 83.19922%;
  border-right: 1px solid rgb(255, 255, 255);
  background-color: rgba(222, 222, 222, 0);
  font-size: 0.846em;
  color: rgb(255, 255, 255);
}

._button-3 {
  z-index: 7;
  width: 7.5%;
  height: 30px;
  margin: -46px 0 0 90.69922%;
  border-right: 1px solid rgb(255, 255, 255);
  background-color: rgba(222, 222, 222, 0);
  font-size: 0.846em;
  color: rgb(255, 255, 255);
}

._button-4 {
  clear: both;
  z-index: 9;
  width: 7.8333333333%;
  height: 55px;
  margin: -55px 0 0 10%;
  border-top: 2px solid rgb(17, 25, 115);
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(30, 13, 133);
}

._button-5 {
  z-index: 10;
  width: 11.75%;
  height: 55px;
  margin: -55px 0 0 17.83073%;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(30, 13, 133);
}

._button-6 {
  z-index: 11;
  width: 7.8333333333%;
  height: 55px;
  margin: -55px 0 0 29.58073%;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(30, 13, 133);
}

._button-7 {
  z-index: 12;
  width: 15.4166666666%;
  height: 55px;
  margin: -55px 0 0 38.86589%;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(30, 13, 133);
}

._button-8 {
  z-index: 13;
  width: 12.4166666666%;
  height: 55px;
  margin: -55px 0 0 54.28255%;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(30, 13, 133);
}

._button-9 {
  z-index: 14;
  width: 7.8333333333%;
  height: 55px;
  margin: -55px 0 0 67.41667%;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.077em;
  color: rgb(30, 13, 133);
}

@media(max-width: 1024px) {
  .text {
    position: relative;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    position: relative;
    z-index: 0;
  }

  .element-10 {
    position: relative;
    z-index: 40;
    margin-top: -693px;
    margin-left: 89.99939%;
  }

  .element-11 {
    position: relative;
    z-index: 30;
    width: 30.859375%;
    margin-top: -267px;
    margin-left: 18.45551%;
  }

  .element-12 {
    position: relative;
    z-index: 33;
    margin-top: -267px;
    margin-left: 51.81732%;
  }

  .element-13 {
    position: relative;
    z-index: 34;
    margin-top: 74px;
    margin-left: 0.60425%;
  }

  .element-2 {
    position: relative;
    z-index: 1;
  }

  .element-3 {
    position: relative;
    z-index: 2;
    margin-top: -224px;
    margin-left: 4.46167%;
  }

  .element-4 {
    position: relative;
    z-index: 3;
    margin-top: 42px;
  }

  .element-5 {
    width: 98.7864077669%;
    height: 283px;
    margin-left: -0.07935%;
  }

  .element-7 {
    position: relative;
    z-index: 18;
    width: 15.4947916666%;
    height: 456px;
  }

  .element-8 {
    position: relative;
    z-index: 26;
    width: 60.44921875%;
    height: 1080px;
    margin-top: -458px;
    margin-left: 17.86957%;
  }

  .element-9 {
    position: relative;
    z-index: 29;
    margin-top: -710px;
    margin-left: 83.99963%;
  }

  .text-1 {
    z-index: 4;
    margin-left: 8.6654699999%;
  }

  .text-10 {
    z-index: 35;
    margin-top: -47px;
    margin-left: 34.7976699999%;
    font-size: 1.077em;
  }

  .text-2 {
    z-index: 8;
    margin-top: -115px;
    margin-left: 2.79236%;
    font-size: 1.462em;
  }

  .text-3 {
    z-index: 27;
    margin-top: -1078px;
    margin-left: 20.4361%;
  }

  .text-4 {
    z-index: 28;
    margin-top: -1052px;
    margin-left: 20.92896%;
  }

  .text-5 {
    z-index: 31;
    margin-top: -243px;
    margin-left: 25.9307899999%;
  }

  .text-6 {
    z-index: 32;
    margin-top: -203px;
    margin-left: 24.36371%;
    font-size: 0.923em;
  }

  .text-7 {
    z-index: 36;
    margin-top: -214px;
    margin-left: 57.59888%;
    font-size: 0.923em;
  }

  .text-8 {
    z-index: 37;
    margin-top: -158px;
    margin-left: 57.59888%;
    font-size: 1em;
  }

  .text-9 {
    z-index: 38;
    margin-top: -127px;
    margin-left: 58.40607%;
    font-size: 0.923em;
  }

  ._button-1 {
    z-index: 5;
    margin-left: 75.24872%;
  }

  ._button-10 {
    z-index: 15;
    margin-left: 77.19879%;
  }

  ._button-11 {
    z-index: 19;
    margin-top: -284px;
    margin-left: 0.60425%;
  }

  ._button-12 {
    z-index: 20;
    margin-top: -1021px;
    margin-left: 0.60425%;
  }

  ._button-13 {
    z-index: 21;
    margin-top: -962px;
    margin-left: 0.60425%;
  }

  ._button-14 {
    z-index: 22;
    margin-top: -856px;
    margin-left: 0.60425%;
  }

  ._button-15 {
    z-index: 23;
    margin-top: -794px;
    margin-left: 0.60425%;
  }

  ._button-16 {
    z-index: 24;
    margin-top: -736px;
    margin-left: 0.60425%;
  }

  ._button-17 {
    z-index: 25;
    margin-top: -672px;
    margin-left: 0.60425%;
  }

  ._button-18 {
    z-index: 39;
    margin-top: -629px;
    margin-left: 86.0733%;
  }

  ._button-2 {
    z-index: 6;
    margin-left: 83.19855%;
  }

  ._button-3 {
    z-index: 7;
    margin-left: 90.69824%;
  }

  ._button-4 {
    z-index: 9;
    margin-left: 9.99756%;
  }

  ._button-5 {
    z-index: 10;
    margin-left: 17.8299%;
  }

  ._button-6 {
    z-index: 11;
    margin-left: 29.58069%;
  }

  ._button-7 {
    z-index: 12;
    margin-left: 38.86566%;
  }

  ._button-8 {
    z-index: 13;
    margin-left: 54.2816199999%;
  }

  ._button-9 {
    z-index: 14;
    margin-left: 67.41638%;
  }
}

@media(max-width: 768px) {
  body {
    font-size: 0.688em;
  }

  .text {
    position: relative;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    position: relative;
    z-index: 0;
  }

  .element-10 {
    position: relative;
    z-index: 40;
    margin-top: -689px;
    margin-left: 86.43799%;
  }

  .element-11 {
    position: relative;
    z-index: 30;
    width: 27.8645833333%;
    height: 168px;
    margin-top: -246px;
    margin-left: 17.82837%;
  }

  .element-12 {
    position: relative;
    z-index: 33;
    width: 26.4322916666%;
    height: 168px;
    margin-top: -246px;
    margin-left: 48.04484%;
  }

  .element-13 {
    position: relative;
    z-index: 34;
    margin-top: 212px;
    margin-left: -0.07935%;
  }

  .element-2 {
    position: relative;
    z-index: 1;
  }

  .element-3 {
    position: relative;
    z-index: 2;
    margin-top: -236px;
    margin-left: 0;
  }

  .element-4 {
    position: relative;
    z-index: 3;
    margin-top: 14px;
  }

  .element-7 {
    position: relative;
    z-index: 18;
    height: 473px;
  }

  .element-8 {
    position: relative;
    z-index: 26;
    margin-top: -473px;
    margin-left: 16.79484%;
  }

  .element-9 {
    position: relative;
    z-index: 29;
    width: 19.0104166666%;
    margin-top: -704px;
    margin-left: 79.94792%;
  }

  .text-1 {
    z-index: 4;
    margin-left: 8.66496%;
    font-size: 0.909em;
  }

  .text-10 {
    z-index: 35;
    margin-top: -50px;
    margin-left: 22.79867%;
    font-size: 1.091em;
  }

  .text-2 {
    z-index: 8;
    margin-top: -118px;
    margin-left: 5.62948%;
    font-size: 1.455em;
  }

  .text-3 {
    z-index: 27;
    margin-top: -987px;
    margin-left: 18.9249699999%;
    font-size: 1.091em;
  }

  .text-4 {
    z-index: 28;
    margin-top: -946px;
    margin-left: 18.9249699999%;
    font-size: 11px;
  }

  .text-5 {
    z-index: 31;
    margin-top: -518px;
    margin-left: 24.91659%;
    font-size: 1.455em;
  }

  .text-6 {
    z-index: 32;
    margin-top: -212px;
    margin-left: 18.9249699999%;
    font-size: 1em;
  }

  .text-7 {
    z-index: 36;
    margin-top: -212px;
    margin-left: 49.19637%;
    font-size: 1.091em;
  }

  .text-8 {
    z-index: 37;
    margin-top: -141px;
    margin-left: 54.27653%;
    font-size: 0.818em;
  }

  .text-9 {
    z-index: 38;
    margin-top: -119px;
    margin-left: 54.27653%;
    font-size: 1.091em;
  }

  ._button-1 {
    z-index: 5;
    margin-left: 75.24821%;
    font-size: 1em;
  }

  ._button-10 {
    z-index: 15;
    width: 14.7135416666%;
    margin-left: 84.79818%;
    font-size: 1.273em;
  }

  ._button-11 {
    z-index: 19;
    width: 12.5%;
    height: 39px;
    margin-top: -408px;
    margin-left: 1.43026%;
    font-size: 1.091em;
  }

  ._button-12 {
    z-index: 20;
    width: 12.5%;
    height: 44px;
    margin-top: -940px;
    margin-left: 1.43026%;
    font-size: 1em;
  }

  ._button-13 {
    z-index: 21;
    width: 12.5%;
    height: 42px;
    margin-top: -876px;
    margin-left: 1.43026%;
    font-size: 0.909em;
  }

  ._button-14 {
    z-index: 22;
    width: 12.3697916666%;
    height: 42px;
    margin-top: -824px;
    margin-left: 1.43026%;
    font-size: 0.909em;
  }

  ._button-15 {
    z-index: 23;
    width: 12.3697916666%;
    height: 41px;
    margin-top: -770px;
    margin-left: 1.43026%;
    font-size: 0.909em;
  }

  ._button-16 {
    z-index: 24;
    width: 12.3697916666%;
    height: 41px;
    margin-top: -665px;
    margin-left: 1.43026%;
    font-size: 0.909em;
  }

  ._button-17 {
    z-index: 25;
    width: 12.5%;
    margin-top: -716px;
    margin-left: 1.43026%;
    font-size: 1em;
  }

  ._button-18 {
    z-index: 39;
    width: 13.1510416666%;
    height: 35px;
    margin-top: -633px;
    margin-left: 82.8125%;
    font-size: 0.818em;
  }

  ._button-2 {
    z-index: 6;
    margin-left: 83.19906%;
    font-size: 1em;
  }

  ._button-3 {
    z-index: 7;
    font-size: 1em;
  }

  ._button-4 {
    z-index: 9;
    margin-left: 1.43026%;
    font-size: 1.273em;
  }

  ._button-5 {
    z-index: 10;
    margin-left: 9.99756%;
    font-size: 1.273em;
  }

  ._button-6 {
    z-index: 11;
    width: 12.109375%;
    margin-left: 21.99707%;
    font-size: 1.273em;
  }

  ._button-7 {
    z-index: 12;
    width: 17.8385416666%;
    margin-left: 34.79818%;
    font-size: 1.273em;
  }

  ._button-8 {
    z-index: 13;
    width: 20.3125%;
    margin-left: 54.29484%;
    font-size: 1.273em;
  }

  ._button-9 {
    z-index: 14;
    width: 10.6770833333%;
    margin-left: 74.4751%;
    font-size: 1.273em;
  }
}

@media(max-width: 412px) {
  body {
    font-size: 0.5em;
  }

  .text {
    position: relative;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    position: relative;
    z-index: 0;
  }

  .element-10 {
    position: relative;
    clear: both;
    z-index: 40;
    width: 10.1941747572%;
    height: 44px;
    margin-top: -72px;
    margin-left: 60.20555%;
  }

  .element-11 {
    position: relative;
    clear: both;
    z-index: 30;
    width: 100.7281553398%;
    height: 110px;
    margin-top: -320px;
    margin-left: 0;
  }

  .element-12 {
    position: relative;
    z-index: 33;
    width: 49.7572815533%;
    height: 115px;
    margin-top: -128px;
    margin-left: 3.67491%;
  }

  .element-13 {
    position: relative;
    clear: none;
    z-index: 34;
    width: 100%;
    height: 62px;
    margin-top: 6px;
    margin-left: 0;
  }

  .element-2 {
    position: relative;
    z-index: 1;
  }

  .element-3 {
    position: relative;
    z-index: 2;
    width: 46.3592233009%;
    margin-left: 27.09724%;
  }

  .element-4 {
    position: relative;
    clear: none;
    z-index: 3;
    margin-top: 29px;
  }

  .element-5 {
    clear: none;
    margin-left: 0;
  }

  .element-7 {
    position: relative;
    z-index: 18;
    width: 100%;
    height: 47px;
    margin-top: 929px;
  }

  .element-8 {
    position: relative;
    z-index: 26;
    width: 99.5145631067%;
    height: 515px;
    margin-top: -967px;
    margin-left: 0;
  }

  .element-9 {
    position: relative;
    z-index: 29;
    width: 99.5145631067%;
    margin-top: -45px;
    margin-left: 0;
    background-color: rgb(0, 0, 0);
  }

  .text-1 {
    z-index: 4;
    margin-top: -59px;
    margin-left: 13.0044%;
    font-size: 1.25em;
  }

  .text-10 {
    z-index: 35;
    margin-top: -37px;
    margin-left: 13.0044%;
    font-size: 1.125em;
  }

  .text-2 {
    clear: both;
    z-index: 8;
    margin-top: -31px;
    margin-left: 9.95146%;
    font-size: 1.375em;
  }

  .text-3 {
    clear: none;
    z-index: 27;
    margin-top: -955px;
    margin-left: 2.32479%;
    font-size: 1.5em;
  }

  .text-4 {
    clear: both;
    z-index: 28;
    margin-top: -967px;
    margin-left: 16.15974%;
    font-size: 8px;
  }

  .text-5 {
    z-index: 31;
    margin-top: -315px;
    margin-left: 43.99651%;
    font-size: 1.25em;
  }

  .text-6 {
    z-index: 32;
    margin-top: -291px;
    margin-left: 36.3963899999%;
    font-size: 8px;
  }

  .text-7 {
    z-index: 36;
    margin-top: -109px;
    margin-left: 16.79688%;
    font-size: 1em;
  }

  .text-8 {
    z-index: 37;
    margin-top: -72px;
    margin-left: 15.19645%;
    font-size: 1.125em;
  }

  .text-9 {
    z-index: 38;
    margin-top: -50px;
    margin-left: 16.79688%;
    font-style: normal;
    font-size: 1.375em;
  }

  ._button-1 {
    z-index: 5;
    width: 23.7864077669%;
    margin-top: -35px;
    margin-left: 9.95146%;
    font-size: 1.375em;
  }

  ._button-10 {
    z-index: 15;
    width: 13.1067961165%;
    margin-left: 85.56204%;
    font-size: 1.25em;
  }

  ._button-11 {
    z-index: 19;
    width: 13.8349514563%;
    height: 30px;
    margin-top: -41px;
    margin-left: 2.32479%;
    font-size: 1em;
  }

  ._button-12 {
    z-index: 20;
    width: 15.7766990291%;
    height: 30px;
    margin-top: -41px;
    margin-left: 19.0116799999%;
    font-size: 0.875em;
  }

  ._button-13 {
    z-index: 21;
    width: 15.0485436893%;
    height: 30px;
    margin-top: -41px;
    margin-left: 36.3963899999%;
    font-size: 1em;
  }

  ._button-14 {
    z-index: 22;
    width: 13.8349514563%;
    height: 30px;
    margin-top: -41px;
    margin-left: 53.43598%;
    font-size: 1em;
  }

  ._button-15 {
    z-index: 23;
    width: 13.8349514563%;
    height: 30px;
    margin-top: -41px;
    margin-left: 67.88152%;
    font-size: 1em;
  }

  ._button-16 {
    z-index: 24;
    width: 13.8349514563%;
    height: 30px;
    margin-top: -41px;
    margin-left: 82.93007%;
    font-size: 1em;
  }

  ._button-17 {
    z-index: 25;
    width: 13.8349514563%;
    height: 23px;
    margin-top: 28px;
    margin-left: 60.20555%;
    font-size: 0.625em;
  }

  ._button-18 {
    z-index: 39;
    width: 24.7572815533%;
    height: 26px;
    margin-top: -61px;
    margin-left: 71.19994%;
    font-size: 1em;
  }

  ._button-2 {
    z-index: 6;
    width: 27.1844660194%;
    margin-top: -35px;
    margin-left: 34.79217%;
    font-size: 1.375em;
  }

  ._button-3 {
    z-index: 7;
    width: 24.2718446601%;
    margin-top: -35px;
    margin-left: 64.39624%;
    font-size: 1.375em;
  }

  ._button-4 {
    z-index: 9;
    width: 10.1941747572%;
    margin-left: 0;
    font-size: 1.25em;
  }

  ._button-5 {
    z-index: 10;
    margin-left: 10.15625%;
    font-size: 1.25em;
  }

  ._button-6 {
    z-index: 11;
    width: 11.8932038834%;
    margin-left: 22.81174%;
    font-size: 1.25em;
  }

  ._button-7 {
    z-index: 12;
    margin-left: 35.59997%;
    font-size: 1.25em;
  }

  ._button-8 {
    z-index: 13;
    width: 17.4757281553%;
    margin-left: 50.72816%;
    font-size: 1.25em;
  }

  ._button-9 {
    z-index: 14;
    width: 13.3495145631%;
    margin-left: 69.58814%;
    font-size: 1.25em;
  }
}

@media(max-width: 360px) {
  .text {
    position: relative;
  }

  ._button {
    position: relative;
  }

  .element-1 {
    position: relative;
    z-index: 0;
  }

  .element-10 {
    position: relative;
    z-index: 40;
    margin-top: -71px;
    margin-left: 59.72222%;
  }

  .element-11 {
    position: relative;
    z-index: 30;
    width: 100%;
    height: 124px;
    margin-top: -330px;
    margin-left: -1.33681%;
  }

  .element-12 {
    position: relative;
    z-index: 33;
    margin-top: -132px;
    margin-left: 3.68056%;
  }

  .element-13 {
    position: relative;
    z-index: 34;
  }

  .element-2 {
    position: relative;
    z-index: 1;
  }

  .element-3 {
    position: relative;
    z-index: 2;
    margin-left: 27.04861%;
  }

  .element-4 {
    position: relative;
    z-index: 3;
  }

  .element-5 {
    width: 99.4444444444%;
    height: 274px;
  }

  .element-6 {
    margin-top: 9px;
  }

  .element-7 {
    position: relative;
    z-index: 18;
    margin-top: 988px;
    margin-left: -1.33681%;
  }

  .element-8 {
    position: relative;
    z-index: 26;
    width: 99.4444444444%;
    height: 503px;
    margin-top: -1026px;
  }

  .element-9 {
    position: relative;
    z-index: 29;
    width: 100%;
    margin-top: 9px;
  }

  .text-1 {
    z-index: 4;
    margin-top: -61px;
    margin-left: 6.84028%;
  }

  .text-10 {
    z-index: 35;
    margin-left: 5.5816%;
    font-size: 1.25em;
  }

  .text-2 {
    z-index: 8;
    margin-top: -33px;
    margin-left: 5.5816%;
  }

  .text-3 {
    z-index: 27;
    margin-top: -1014px;
    margin-left: 2.32205%;
  }

  .text-4 {
    clear: none;
    z-index: 28;
    margin-top: -989px;
    margin-left: 8.35938%;
  }

  .text-5 {
    z-index: 31;
    margin-top: -313px;
    margin-left: 41.2717%;
  }

  .text-6 {
    z-index: 32;
    margin-top: -289px;
    margin-left: 29.54861%;
  }

  .text-7 {
    z-index: 36;
    margin-left: 15.16493%;
  }

  .text-8 {
    z-index: 37;
    margin-top: -64px;
    margin-left: 12.59983%;
  }

  .text-9 {
    z-index: 38;
    margin-top: -42px;
    margin-left: 15.16493%;
  }

  ._button-1 {
    z-index: 5;
    margin-left: 9.94792%;
  }

  ._button-10 {
    z-index: 15;
    margin-left: 85.5599%;
  }

  ._button-11 {
    z-index: 19;
    margin-top: -39px;
    margin-left: 2.32205%;
  }

  ._button-12 {
    z-index: 20;
    margin-top: -39px;
    margin-left: 16.79688%;
  }

  ._button-13 {
    z-index: 21;
    margin-top: -39px;
    margin-left: 33.73264%;
  }

  ._button-14 {
    z-index: 22;
    margin-top: -39px;
    margin-left: 50%;
  }

  ._button-15 {
    z-index: 23;
    margin-top: -39px;
    margin-left: 65.9722199999%;
  }

  ._button-16 {
    z-index: 24;
    margin-top: -39px;
    margin-left: 82.89063%;
  }

  ._button-17 {
    z-index: 25;
    width: 6.3888888888%;
    height: 30px;
    margin-top: -171px;
    margin-left: 88.66319%;
  }

  ._button-18 {
    z-index: 39;
    margin-top: -64px;
    margin-left: 70.39931%;
  }

  ._button-2 {
    z-index: 6;
    margin-left: 34.79167%;
  }

  ._button-3 {
    z-index: 7;
    margin-left: 64.38802%;
  }

  ._button-4 {
    z-index: 9;
  }

  ._button-5 {
    z-index: 10;
  }

  ._button-6 {
    z-index: 11;
    margin-left: 22.80816%;
  }

  ._button-7 {
    z-index: 12;
    margin-left: 35.59896%;
  }

  ._button-8 {
    z-index: 13;
    margin-left: 50.72483%;
  }

  ._button-9 {
    z-index: 14;
    margin-left: 69.57465%;
  }
}